@font-face {
    font-family: 's-r';
    src: url('../fonts/ss/SharpSansRegular.eot');
    src: url('../fonts/ss/SharpSansRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ss/SharpSansRegular.woff') format('woff'),
    url('../fonts/ss/SharpSansRegular.ttf') format('truetype'),
    url('../fonts/ss/SharpSansRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-rb';
    src: url('../fonts/ss/SharpSans-Bold.eot');
    src: url('../fonts/ss/SharpSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ss/SharpSans-Bold.woff') format('woff'),
    url('../fonts/ss/SharpSans-Bold.ttf') format('truetype'),
    url('../fonts/ss/SharpSans-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-rm';
    src: url('../fonts/ss/SharpSans-Medium.eot');
    src: url('../fonts/ss/SharpSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ss/SharpSans-Medium.woff') format('woff') ;
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}
a, a:hover, a:focus, a:active{
    outline: none;
    text-decoration: none;
    color: #000000;
}
.container{
    position: relative;
}
.of-header .container{
    height: 67px;
}
.of-logo{
    position: absolute;
    top: 10px;
    left: 15px;
}
.of-iconmntop{
    display: none;
    position: absolute;
    left: 15px;
    top: 16px;
    color: #b7b7b7;
    font-size: 25px;
    cursor: pointer;
}
.of-menutop{
    position: absolute;
    top: 0;
    right: 201px;
}
.of-menutop li{
    float: left;
}
.of-menutop li a{
    display: block;
    height: 67px;
    padding: 10px 13px 0;
    font-size: 12px;
    color: #211f1f;
    text-align: center;
}
.of-menutop li a i{
    display: block;
    margin: 0 auto;
    height: 28px;
    background-image: url("../images/imenu.png");
    background-repeat: no-repeat;
}
.of-menutop li a span{
    display: block;
    padding: 3px 0;
}
.of-menutop li a:hover{
    background-color: #f3f3f3;
}

.of-imobile{
    width: 15px;
    background-position: -3px 0;
}
.of-menutop li.active a .of-imobile,
.of-menutop li a:hover .of-imobile{
    background-position: -3px -32px;
}
.of-itablet{
    width: 31px;
    background-position: -20px 0;
}
.of-menutop li.active a .of-itablet,
.of-menutop li a:hover .of-itablet{
    background-position: -20px -32px;
}
.of-iapple{
    width: 21px;
    background-position: -53px 0;
}
.of-menutop li.active a .of-iapple,
.of-menutop li a:hover .of-iapple{
    background-position: -53px -32px;
}
.of-ilaptop{
    width: 39px;
    background-position: -76px 0;
}
.of-menutop li.active a .of-ilaptop,
.of-menutop li a:hover .of-ilaptop{
    background-position: -76px -32px;
}
.of-iswatch{
    width: 19px;
    background-position: -334px 0;
}
.of-menutop li.active a .of-iswatch,
.of-menutop li a:hover .of-iswatch{
    background-position: -334px -32px;
}
.of-ipkien{
    width: 29px;
    background-position: -117px 0;
}
.of-menutop li.active a .of-ipkien,
.of-menutop li a:hover .of-ipkien{
    background-position: -117px -32px;
}
.of-imdt{
    width: 17px;
    background-position: -359px 0;
}
.of-menutop li.active a .of-imdt,
.of-menutop li a:hover .of-imdt{
    background-position: -359px -32px;
}
.of-ixahang{
    width: 35px;
    background-position: -180px 0;
}
.of-menutop li.active a .of-ixahang,
.of-menutop li a:hover .of-ixahang{
    background-position: -180px -32px;
}
.of-itragop{
    width: 24px;
    background-position: -217px 0;
}
.of-menutop li.active a .of-itragop,
.of-menutop li a:hover .of-itragop{
    background-position: -217px -32px;
}
.of-ikmai{
    width: 32px;
    background-position: -243px 0;
}
.of-menutop li.active a .of-ikmai,
.of-menutop li a:hover .of-ikmai{
    background-position: -243px -32px;
}
.of-itinhay{
    width: 28px;
    background-position: -277px 0;
}
.of-menutop li.active a .of-itinhay,
.of-menutop li a:hover .of-itinhay{
    background-position: -277px -32px;
}
.of-isimthe{
    width: 19px;
    background-position: -411px 0;
}
.of-menutop li.active a .of-isimthe,
.of-menutop li a:hover .of-isimthe{
    background-position: -411px -32px;
}
.of-ihoidap{
    width: 24px;
    background-position: -380px 0;
}
.of-menutop li.active a .of-ihoidap,
.of-menutop li a:hover .of-ihoidap{
    background-position: -380px -32px;
}
.of-samsung{
    width: 94px;
    background-position: -437px 0;
}
.of-menutop li.active a .of-samsung,
.of-menutop li a:hover .of-samsung{
    background-position: -437px -30px;
}

.of-search{
    position: absolute;
    top: 0;
    right: 120px;
    height: 67px;
    cursor: pointer;
    text-align: center;
    padding: 10px 15px 0;
    font-size:12px;
    color: #211f1f;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}
.of-search span{
    display: block;
    padding: 3px 0;
}
.of-isearch{
    display: block;
    margin: 0 auto;
    width: 23px;
    height: 28px;
    background-image: url("../images/imenu.png");
    background-repeat: no-repeat;
    background-position: -306px 0;
}
.of-search:hover {
    background-color: #f3f3f3;
}
.of-search:hover .of-isearch{
    background-position: -306px -32px;
}
.of-call{
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
}
.of-call span{
    font-size: 12px;
    color: #211f1f;
}
.of-call p{
    font-size: 16px;
    font-weight: bold;
    color: #c91010;
}
.of-searchbox{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}
.of-slogo {
    margin-top: 10px;
    width: 150px;
    position: absolute;
    left: 15px;
    top: 5px;
}
.of-searchbar{
    height: 67px;
    background-color: #000000;
}
.of-ipsearch{
    padding-right: 80px;
    margin-top: 15px;
    margin-left: 200px;
}
.of-closesearch{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}
.of-closepop{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: #cccccc;
    cursor: pointer;
}

.of-footer{
    padding: 30px 0;
    text-align: center;
    background-color: #efefef;
    color: #000000;
}
.of-footer-link{
    margin-bottom: 10px;
    font-weight: bold;
}
.of-footer-link a{
    font-weight: bold;
    padding: 0 5px;
    color: #000000;
}

/*MEDIA*/
@media (min-width: 1260px) {
    .container{
        width: 1230px;
    }
}
@media (max-width: 1260px) {
	.of-menutop li a { 
		padding: 10px 11px 0;
	}
}
@media (max-width: 1200px) {
    .of-logo {
        top: 16px;
        width: 120px;
    }
    .of-menutop {
        right: 182px;
    }
    .of-menutop li a{
        padding: 10px 5px 0;
    }
    .of-search{
        padding: 10px 5px 0;
    }
}
@media (max-width: 992px) {
    .of-header .container {
        height: 60px;
    }
    .of-logo {
        left: 50px;
        top: 12px;
        width: 130px;
    }
    .of-menutop{
        display: none;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 999;
        background: #ffffff;
        -webkit-box-shadow: 0 5px 13px -2px #000;
        -moz-box-shadow: 0 5px 13px -2px #000;
        box-shadow: 0 5px 13px -2px #000;
    }
    .of-menutop li{
        width: 20%;
    }
    .of-mnshow{
        display: block !important;
    }
    .of-call {
        top: 10px;
    }
    .of-search{
        top: 7px;
        border: none;
        height: auto;
    }
    .of-search:after{
        content: " ";
        height: 30px;
        width: 1px;
        background: #cecece;
        position: absolute;
        right: -5px;
        top: 10px;
        z-index: 9;
    }
    .of-search:hover{
        background: none;
    }
    .of-search span{
        display: none;
    }
    .of-iconmntop {
        display: block;
    }
}
@media (max-width: 768px) {
    .of-ipsearch {
        padding-right: 40px;
        margin-left: 170px;
    }
}
@media (max-width: 480px) {
    .of-slogo{
        display: none;
    }
    .of-ipsearch {
        margin-left: 0;
    }
    .of-probox-img,
    .of-probox-info{
        width: 100%;
        float: none;
        padding: 15px;
    }
    .of-probox-btn li a {
        width: 100px;
    }
    .of-probox-tso ul li span {
        width: auto;
        font-weight: bold;
    }
    .of-menutop li {
        width: 25%;
    }
}
@media (max-width: 350px) {
    .of-logo {
        top: 17px;
        width: 100px;
    }
    .of-menutop li {
        width: 33.33%;
    }
}


/*autocomplete search main*/
.asmr {
    width: 100%;
    position: absolute;
    top: 34px;
    z-index: 10;
}
.asmr ul {
    background: #FFF;
    margin: 0 119px 0 0;
}
.asmr li.active,
.asmr li:hover {
    background: #ececec;
}
.asmr a {
    display: block;
    overflow: hidden;
    padding: 5px;
}
.asmr a img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 5px 0 0;
}
.asmr a span {
    display: block;
    font-weight: bold;
}
.asmr a label {
    display: block;
    margin: 10px 0 0 0;
    color: #F00;
}
.resultAutoComplete-home {
    padding: 0;
    margin-right: 80px;
    z-index: 100;
    font-size: 13px;
}
.resultAutoComplete-home ul li:hover {
    background: #eaeaea;
}
.fshop-search-cate {
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-top: 0;
    font-size: 13px;
}
.fshop-search-cate li {
    padding: 5px;
    cursor: pointer;
}
.fshop-search-cate a {
    font-size: 13px;
    color: #d41212;
    padding: 3px 5px;
    display: block;
    text-transform: uppercase;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.fshop-search-cate a:before {
    content: "⟶";
}
.fshop-search-cate a:hover {
    padding-left: 15px;
}
.fshop-search-catehd {
    height: 30px;
    line-height: 20px;
    background-color: #efefef;
    text-overflow: clip;
    overflow: hidden;
}
.fshop-search-catehd strong {
    font-weight: bold;
    color: #d41212;
}
.fshop-search-prod {
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-top: 0;
    font-size: 13px;
}
.fshop-search-prod li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #EDEDED;
}
.fshop-search-prod li a {
    font-size: 13px;
    display: block;
}
.fshop-search-prod li:hover .fshop-search-prodimg {
    background: #FFFFFF;
}
.fshop-search-prod li:hover .fshop-search-prodinfo {
    padding-left: 15px;
}
.fshop-search-prodimg {
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #FFFFFF;
}
.fshop-search-prodimg img {
    width: 40px;
    height: 40px;
}
.fshop-search-prodinfo {
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
    padding: 0 10px;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.fshop-search-prodprice {
    color: #d41212;
    font-weight: bold;
} 
.fshop-search-prodname {
    max-height: 30px;
    text-overflow: clip;
    overflow: hidden;
}
@media(max-width: 768px){
    .asmr ul {
        margin: 0 79px 0 0;
    }
}

/*landing*/
.tt-main{
    font-family: 'Roboto', sans-serif;
}

.tt-s1{
    text-align: center;
    padding: 90px 0;
    background: url("../images/bg1.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.tt-btn{
    text-align: center;
}
.tt-btn a{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: 55px;
    height: 55px;
    padding: 0 30px;
    margin: 20px 0;
    border: 2px solid #f7e600;
    text-transform: uppercase;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(30deg, #f4df09, #e65768 45%, #8a3084);
    background-image: -moz-linear-gradient(30deg, #f4df09, #e65768 45%, #8a3084);
    background-image: -webkit-linear-gradient(30deg, #f4df09, #e65768 45%, #8a3084);
    background-image: -o-linear-gradient(30deg, #f4df09, #e65768 45%, #8a3084);
    background-image: -ms-linear-gradient(30deg, #f4df09, #e65768 45%, #8a3084);
}

.tt-s2{
    padding: 60px 15px;
    background: url("../images/bg2.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.tt-s2w{
    max-width: 465px;
    margin: 0 auto;
}
.tt-s2tit{
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 20px;
    text-align: center;
}
.tt-s2f{
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.tt-s2dn label,
.tt-s2or span{
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #0e0c7e;
    display: inline-block;
    vertical-align: middle;
}
.tt-s2dn span{
    display: inline-block;
    cursor: pointer;
}
.tt-s2or{
    text-align: center;
    padding: 20px 0;
    position: relative;
}
.tt-s2or span:before,
.tt-s2or span:after{
    display: inline-block;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 45%;
    background-color: #cccccc;
}
.tt-s2or span:before{
    left: 0;
}
.tt-s2or span:after{
    right: 0;
}
.tt-s2form input:first-child{
    margin-bottom: 20px;
}
.tt-s2form input{
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 5px 20px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.1);;
}
.tt-s2form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #3f3f3f;
    font-size: 16px;
    font-family: 's-rm';
}
.tt-s2form input::-moz-placeholder { /* Firefox 19+ */
    color: #3f3f3f;
    font-size: 16px;
    font-family: 's-rm';
}
.tt-s2form input:-ms-input-placeholder { /* IE 10+ */
    color: #3f3f3f;
    font-size: 16px;
    font-family: 's-rm';
}
.tt-s2form input:-moz-placeholder { /* Firefox 18- */
    color: #3f3f3f;
    font-size: 16px;
    font-family: 's-rm';
}

.tt-s2form .tt-s2ip2::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d0021b;
}
.tt-s2form .tt-s2ip2::-moz-placeholder { /* Firefox 19+ */
    color: #d0021b;
}
.tt-s2form .tt-s2ip2:-ms-input-placeholder { /* IE 10+ */
    color: #d0021b;
}
.tt-s2form .tt-s2ip2:-moz-placeholder { /* Firefox 18- */
    color: #d0021b;
}

.tt-s3{
    padding: 70px 0 90px 0;
    background: url("../images/bg3.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.tt-s3w{
    display: flex;
    justify-content: space-between;
}

.tt-s4{
    padding: 40px 0;
}
.tt-s4tit{
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.tt-s4ul{
    margin: -10px 0;
}
.tt-s4ul li{
    padding: 10px 0;
}
.tt-s4ul li a{
    display: table;
    width: 100%;
}
.tt-s4i{
    display: table-cell;
    width: 30%;
    vertical-align: top;
}
.tt-s4i img{
    width: 100%;
    display: inline-block;
}
.tt-s4des{
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
}
.tt-s4sp1{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.3;
    color: #3d3d3d;
    overflow: hidden;
    text-overflow: clip;
    display: block;
    max-height: 40px;
}
.tt-s4sp2{
    font-size: 14px;
    line-height: 1.42;
    color: #555555;
    overflow: hidden;
    text-overflow: clip;
    display: block;
    max-height: 75px;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:66.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*the le*/
.hp-title
{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
}
.sa-sd{
    text-align: center;
    padding-bottom: 20px;
}
.ss-tlds{
    padding: 40px 0;
}
.p1-s4table .table thead{
    color: #ffffff;
    background: #00adb4;
}
.p1-s4table .table tbody tr td{
    color: #333333;
}
.p1-s4table .table tbody tr td:nth-child(2){
    color: #00adb4;
}
.p1-s4tit{
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
}
.p1-s4ulsh li{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}
.p1-s4search{
    width: 100%;
    max-width: 300px;
    position: relative;
}
.p1-s4search:before {
    color: #b9b9b9;
    content: "\e003";
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.p1-s4search .form-control{
    padding-left: 30px;
}
.p1-s4rad{
    display: none;
}
.p1-s4lb{
    margin-left: 20px;
    color: #4a4a4a;
    padding-left: 25px;
    background-image: url("../images/check.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.p1-s4ttle{
    line-height: 25px;
    max-height: 455px;
    overflow: auto;
    padding: 15px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.p1-s4lb:hover,
.p1-s4rad:checked ~ .p1-s4lb{
    background-position: 0 -21px;
    text-decoration: underline;
}
.p1-s4lb:hover{
    text-decoration: underline;
}
.p1-s4table{
    max-height: 407px;
    overflow: auto;
    background: #ffffff;
    margin-bottom: 30px;
}
.p1-s4tdmore{
    text-align: center;
}

.hp-s1i2{
    text-align: center;
}
.hp-s1i2 img{
    width: 100%;
}
.hp-s1i2{
    display: none;
}
.hp-s6social{
    text-align: center;
}
@media (max-width: 991px){
    .hp-s7ul li {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .p1-s4lb{
        margin-left: 0;
    }
    .hp-s7ult{
        width: 120px;
    }
}



/*menu*/
.nk5-menu{
    height: 60px;
    background: #000000;
}
.nk5-logo{
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
}
.nk5-logo span{
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}
.nk5-mnul{
    float: right;
    margin-right: 300px;
}
.nk5-mnul>li{
    float: left;
    margin-right: 30px;
}
.nk5-mnul>li>a{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #ffffff;
}
.nk5-mnul>li>a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}
.nk5-mnul>li>a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ffffff;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.nk5-mnul>li>a:hover,
.nk5-mnul>li>a:focus,
.nk5-mnul>li>a:active {
    color: #ffffff;
}
.nk5-mnul>li>a:hover:before,
.nk5-mnul>li>a:focus:before,
.nk5-mnul>li>a:active:before {
    left: 0;
    right: 0;
}
.nk5-mnbtn{
    position: absolute;
    top: 10px;
    right: 0px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #5cb85c;
}
.tt-mnbtn2{
    background-color: #cb1c22;
    right: 175px;
}
.nk5-mnbtn:hover,
.nk5-mnbtn:focus,
.nk5-mnbtn:active{
    color: #ffffff;
}
.nk5-mnfix{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}
@media (max-width: 1200px) {
    .nk5-mnul{
        margin-right: 270px;
    }
    .nk5-mnul>li>a{
        font-size: 15px;
    }
    .nk5-logo span {
        font-size: 26px;
    }
    .nk5-mnul>li {
        margin-right: 25px;
    }
}
@media (max-width: 991px) {
    .nk5-menu{
        display: none;
    }
}

.tt-s1mbg,
.tt-s3wm{
    display: none;
    position: relative;
}
.tt-s1mbg img,
.tt-s3mbg img{
    width: 100%;
}
@media (max-width: 1200px) {
    .tt-s3col{
        max-width: 30%;
    }
    .tt-s4sp2 {
        max-height: 55px;
    }
}
@media (max-width: 992px) {
    .tt-s1mbg{
        display: block;
    }
    .tt-s4ul {
        margin: 20px 0;
    }
    .tt-s1{
        background: none;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 99;
    }
}
@media (max-width: 768px) {
    .tt-s3wm{
        display: block;
    }
    .tt-s3{
        display: none;
    }
    .tt-s3col{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 100%;
        text-align: center;
        z-index: 999;
    }
    .tt-s3col1{
        top: 50px;
        padding: 0 10px;
    }
    .tt-s3col2{
        bottom: 30px;
        padding: 0 10px;
    }
    .tt-s1 {
        padding: 50px 0;
    }
    .tt-s2tit{
        font-size: 20px;
    }
    .tt-s2dn{
        text-align: center;
    }
    .tt-s2dn label{
        display: block;
        font-size: 16px;
        padding-bottom: 15px;
    }
    .tt-s2sp1{
        width: 40%;
    }
    .tt-s2sp2{
        width: 50%;
    }
    .tt-s2or span:before, .tt-s2or span:after{
        width: 40%;
    }
    .tt-s2form input {
        height: 40px;
        line-height: 40px;
        padding: 5px 15px;
    }
    .tt-s2form input:first-child {
        margin-bottom: 10px;
    }
    .tt-s2{
        padding: 40px 15px;
    }
    .tt-s2f {
        padding: 15px;
    }
    .tt-btn a {
        font-size: 18px;
        line-height: 42px;
        height: 42px;
        padding: 0 25px;
    }
}
@media (max-width: 375px) {
    .tt-s2tit {
        font-size: 16px;
    }
    .tt-s4sp1 {
        font-size: 14px;
        max-height: 35px;
    }
    .tt-s4sp2 {
        max-height: 35px;
        font-size: 12px;
    }
    .tt-s4des {
        padding-left: 5px;
    }
    .tt-s4i {
        width: 40%;
    }
}

/*modal*/
#choigame .modal-content{
    overflow: hidden;
}
#choigame .md-header .close {
    font-weight: 400;
    opacity: 1;
    font-size: 42px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 999;
}
.md-header{
    min-height: 20px;
    border: none;
    padding: 15px 15px 0 0;
}
.md-header .close{
    font-weight: 400;
    opacity: 1;
    font-size: 42px;
}
.md-body{
    text-align: center;
    padding: 50px 60px;
}
.md-tt{
    font-size: 32px;
    color: #2e2e2e;
    padding-bottom: 25px;
    font-family: 's-rm';
}
.md-subt{
    font-size: 18px;
    line-height: 1.42;
    text-align: center;
    color: #2e2e2e;
    font-family: 's-rm';
}
.md-subt strong{
    font-family: 's-rb';
}
.md-subt2{
    color: #d0021b;
    padding-bottom: 40px;
}
@media (min-width: 992px){
    .md-dialog {
        width: 930px;
    }
}
.md-bttc a{
    padding: 0 37px;
}
/*buoc 1*/
.cau1 {
    font-family: 's-rm';
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #2e2e2e;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}
.cau1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #f16052;
    background: #FFFFFF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.cau1 .checkmark:before {
    content: "";
    display: none;
    width: 16px;
    height: 16px;
    text-align: center;
    background: #f16052;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.cau1 input:checked ~ .checkmark:before {
    display: inline-block;
}

/*mo qua*/
.md-ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.md-ul li{
    display: inline-block;
    padding: 25px;
    border: 1px solid transparent;
}
.md-ul li a{
    display: inline-block;
}
.md-ul li:hover{
    border-image: linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    border-image: -moz-linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    border-image: -webkit-linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    border-image: -o-linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    border-image: -ms-linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    border-image-slice: 1;
    border-width: 1px;
}
.md-ulhv{
    border-image: linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    border-image: -moz-linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    border-image: -webkit-linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    border-image: -o-linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    border-image: -ms-linear-gradient(to left, #8a3084 0%, #e65768 50%, #f4df09 100%);
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    border-image-slice: 1;
    border-width: 1px;
}

.md-100{
    text-align: center;
    padding-bottom: 20px;
}
/*tlsai*/
.md-imgsai{
    padding: 40px 0;
}
.md-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.md-img img{
    width: 100%;
}
.buoc4 .md-tt,
.buoc5 .md-tt{
    padding: 50px 0 20px 0;
}

@media (max-width: 991px) {
    .md-body {
        padding: 30px 50px;
    }
    .md-tt{
        font-size: 22px;
        font-family: 's-rb';
    }
    .cau1{
        font-size: 16px;
        padding-left: 35px;
        margin-bottom: 20px;
    }
    .checkmark {
        height: 20px;
        width: 20px;
        line-height: 19px;
    }
    .cau1 .checkmark:before{
        width: 10px;
        height: 10px;
    }
    .md-btn a{
        line-height: 47px;
        height: 47px;
        padding: 0 58px;
        font-size: 18px;
        margin: 0;
    }
    .md-subt{
        font-size: 12px;
    }
    .md-imgsai{
        padding: 0 0 40px 0;
    }
    .md-ul li{
        padding: 10px;
    }
}
@media (max-width: 480px) {
    .md-body {
        padding: 20px 15px;
    }
    .md-tt {
        font-size: 16px;
    }
    .cau1 {
        font-size: 12px;
        padding-left: 25px;
        margin-bottom: 10px;
    }
    .checkmark {
        height: 18px;
        width: 18px;
        line-height: 18px;
    }
    .buoc4 .md-tt, .buoc5 .md-tt{
        padding: 10px 0;
    }
}